@import '../../styles/styles-base/variables';

.filter {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 10px;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  transform: translate(-50%, 0);
  gap: 20px;
  z-index: 999;

  &__search {
    max-width: 500px;
    width: 100%;

    ul {
      width: 100%;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;
      margin: 5px 0 0 0;

      li {
        padding: 8px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
          background-color: rgba($gray, 0.3);
        }
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 5px;
    gap: 10px;

    svg {
      margin: 0 0 2px 0;
    }
  }

  &__sort {
    position: relative;
    max-width: 300px;
    width: 100%;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;
      gap: 20px;

      span {
        &:first-child {
          color: $text-secondary;
          font-weight: 600;
        }
      }

      svg {
        transition: all 0.3s ease 0s;

        &.active {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      position: absolute;
      right: 0;
      width: 100%;
      margin: 5px 0 0 0;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;

      li {
        padding: 10px 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: rgba($gray, 0.3);
        }
      }
    }
  }

  @media (max-width: $md3) {
    flex-direction: column;
    gap: 5px;

    &__sort,
    &__search {
      max-width: none;
    }
  }
}
