@import "../../styles/styles-base/variables";

.social {
  padding: 130px 0 20px 0;

  &__body {
    display: flex;
    gap: 40px;
  }

  &__column {
    &:first-child {
      flex: 0 1 30%;
    }

    &:last-child {
      flex: 0 1 70%;
    }
  }

  &__tabs {
    padding: 20px 0;
    border-right: 1px solid rgba($gray, 0.5);

    button {
      display: flex;
      align-items: center;
      transition: all 0.3s ease 0s;
      color: $text-secondary;
      gap: 10px;

      &:not(:last-child) {
        margin: 0 0 10px 0;
      }

      svg {
        transition: all 0.3s ease 0s;
      }

      &:hover,
      &.active {
        color: $text-primary;

        svg {
          stroke: $text-primary;
        }
      }
    }
  }

  @media (max-width: $md3) {
    padding: 0 0 130px 0;

    &__body {
      flex-direction: column;
    }

    &__tabs {
      display: flex;
      justify-content: space-around;
      padding: 20px 0 10px 0;
      border-right: none;
      border-bottom: 1px solid rgba($gray, 0.5);

      button {
        flex-direction: column;

        span {
          font-size: 12px;
        }
      }
    }
  }
}

.tab_forum {
  &__filter {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    gap: 20px;
  }

  &__search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 5px;
    gap: 10px;

    svg {
      margin: 0 0 2px 0;
    }
  }

  &__sort {
    position: relative;
    max-width: 300px;
    width: 100%;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;
      gap: 20px;

      span {
        &:first-child {
          color: $text-secondary;
          font-weight: 600;
        }

        &:last-child {
          color: $text-primary;
        }
      }

      svg {
        transition: all 0.3s ease 0s;

        &.active {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      position: absolute;
      right: 0;
      width: 100%;
      margin: 10px 0 0 0;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;

      li {
        padding: 10px 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: rgba($gray, 0.3);
        }
      }
    }
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: $md1) {
    &__posts {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 550px) {
    &__filter {
      flex-direction: column;
      gap: 5px;
    }

    &__sort,
    &__search {
      max-width: none;
    }
  }
}

.tab_events {
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 10px 2px rgba(34, 60, 80, 0.1);
    margin: 0 0 40px 0;
    overflow: hidden;

    thead {
      background-color: rgba($gray, 0.2);

      th {
        padding: 12px;
        border-bottom: 1px solid rgba($gray, 0.2);
      }
    }

    tbody {
      tr {
        td {
          padding: 12px;
        }
      }
    }
  }
}

.post_card {
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0 10px 2px rgba(34, 60, 80, 0.1);
  transition: all 0.3s ease 0s;

  &__user {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 0 10px 0;
    gap: 10px;

    span {
      font-size: 16px;
      font-weight: 600;
    }
  }

  p {
    padding: 0 15px;
    margin: 0 0 10px 0;
  }

  &__image {
    text-align: center;
    background-color: rgba($gray, 0.2);
    margin: 0 0 10px 0;
  }

  &__social {
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 20px;

    button {
      display: flex;
      align-items: center;
      gap: 7px;

      &:first-child {
        margin: 0 auto 0 0;
      }

      svg {
        margin: 0 0 2px 0;
      }
    }
  }
}
