@import "../../styles/styles-base/variables";

.product_details {
  padding: 100px 0 20px 0;

  flex: 1 1 100%;
  display: flex;
  align-items: center;

  &__body {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 10px 2px rgba(34, 60, 80, 0.1);
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
    padding: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px 20px;
      margin: auto 0 0 0;
      color: #fff;
      background-color: $text-secondary;
      border-radius: 5px;
      transition: all 0.3s ease 0s;
      gap: 15px;

      svg {
        margin: 0 0 3px 0;
      }

      &:hover {
        background-color: rgba($text-secondary, 0.6);
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    column-gap: 20px;
    row-gap: 5px;

    h2 {
      font-size: 18px;
      font-weight: 600;
      color: $text-primary;
    }

    p {
      font-size: 14px;
    }
  }

  &__condition {
    display: flex;
    margin: 0 0 30px 0;
    gap: 20px;

    span {
      display: flex;
      align-items: center;
      font-weight: 600;
      gap: 5px;
    }

    input {
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid $text-primary;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      &:checked::before {
        content: "";

        width: 8px;
        height: 8px;
        background-color: $text-primary;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__text {
    line-height: 20px;
    color: $text-secondary;
    margin: 0 0 30px 0;
  }

  &__score {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
    gap: 30px;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 16px;
      font-weight: 600;
      color: $text-primary;
    }
  }

  &__rating {
    display: flex;
    align-items: center;

    span {
      font-size: 22px;
      color: $gray;
      margin: 0 2px 0 0;

      &.active {
        color: #ffc107;
      }
    }

    p {
      margin: 0 0 0 5px;
    }
  }

  @media (max-width: $md2) {
    &__body {
      flex-direction: column;
    }
  }

  @media (max-width: $md3) {
    &__img {
      padding: 0 0 70% 0;
      border-radius: 5px 5px 0 0;
    }

    &__description {
      min-height: auto;
    }
  }

  @media (max-width: $md4) {
    &__score {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  }
}
