@import '../../styles/styles-base/variables';

.listings {
  display: flex;

  &__filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    padding: 20px 20px 100px 20px;
    background-color: #fff;
    box-shadow: 0px 0 10px 2px rgba(34, 60, 80, 0.1);
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 10;

    button {
      text-align: right;
      width: 100%;
      margin: 0 0 20px 0;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 0 0 10px 0;
    gap: 10px;

    svg {
      margin: 0 0 2px 0;
    }
  }

  &__create {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0 0 20px 0;
    color: #fff;
    background-color: $text-secondary;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    gap: 15px;

    &:hover {
      background-color: rgba($text-secondary, 0.6);
    }
  }

  &__sort {
    padding: 20px 0;
    margin: 0 0 20px 0;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;
      gap: 20px;

      span {
        &:first-child {
          color: $text-secondary;
          font-weight: 600;
        }

        &:last-child {
          color: $text-primary;
        }
      }

      svg {
        transition: all 0.3s ease 0s;

        &.active {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      margin: 10px 0 0 0;
      background-color: #fff;
      border: 1px solid $gray;
      border-radius: 5px;

      li {
        padding: 10px 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: rgba($gray, 0.3);
        }
      }
    }
  }

  &__categories {
    h2 {
      font-size: 16px;
      font-weight: 600;
      color: $text-secondary;
    }

    ul {
      li {
        padding: 10px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: rgba($gray, 0.3);
          border-radius: 5px;
        }
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;

    button {
      display: flex;
      align-items: center;
      padding: 0 20px;
      color: #fff;
      background-color: $text-secondary;
      border-radius: 5px;
      transition: all 0.3s ease 0s;
      gap: 10px;

      svg {
        margin: 0 0 3px 0;
      }
    }
  }

  &__products {
    flex: 1 1 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 0 350px;
    padding: 60px 20px 130px 20px;
    gap: 20px;
  }

  &__item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 10px 2px rgba(34, 60, 80, 0.1);
    transition: all 0.3s ease 0s;
    overflow: hidden;

    &_img {
      position: relative;
      padding: 0 0 80% 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_text {
      padding: 10px 20px 20px 20px;

      h2 {
        font-size: 16px;
        font-weight: 600;
        color: $text-primary;
        margin: 0 0 10px 0;
      }

      p {
        line-height: 20px;
        color: $text-secondary;
      }
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  @media (min-width: 1600px) {
    &__products {
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
    }
  }

  @media (max-width: $md1) {
    &__products {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: $md2) {
    &__filter {
      width: 300px;
    }

    &__products {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 0 0 300px;
    }
  }

  @media (max-width: $md3) {
    &__filter {
      left: -100%;
      width: 100%;

      &.active {
        left: 0;
      }
    }

    &__search {
      margin: 0;
    }

    &__products {
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 20px 130px 20px;
      margin: 0;
    }
  }

  @media (max-width: $md4) {
    &__search {
      padding: 10px;
    }

    &__body {
      gap: 10px;

      button {
        padding: 0 10px;

        span {
          display: none;
        }
      }
    }

    &__products {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
