.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $mw;
  margin: 0 auto;
  padding: 0 10px;

  @media (max-width: $md1) {
    max-width: 970px;
  }

  @media (max-width: $md2) {
    max-width: 750px;
  }

  @media (max-width: $md3) {
    max-width: none;
  }
}
