@import "../../styles/styles-base/variables";

.product_create {
  padding: 100px 0 20px 0;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  width: 100%;

  &__body {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 10px 2px rgba(34, 60, 80, 0.1);

    &.image {
      display: flex;
    }
  }

  &__img {
    flex: 0 1 60%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
  }

  &__form {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 20px;
  }

  form {
    flex: 1;
  }

  &__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 0 0 10px 0;
    gap: 10px;

    &:nth-child(3) {
      align-items: start;
    }

    svg {
      margin: 0 0 2px 0;
    }

    label {
      color: #c4c4c4;
    }
  }

  &__condition {
    display: flex;
    margin: 30px 0;
    gap: 20px;

    span {
      display: flex;
      align-items: center;
      font-weight: 600;
      gap: 5px;
    }

    input {
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid $text-primary;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      &:checked::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $text-primary;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #fff;
    background-color: $text-secondary;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    gap: 15px;

    &:hover {
      background-color: rgba($text-secondary, 0.6);
    }
  }

  @media (max-width: $md3) {
    &__body {
      flex-direction: column;
    }

    &__img {
      border-radius: 5px 5px 0 0;
    }
  }
}
