@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  background: #fff;
}

body.lock {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000077;
    transition: all 0.3s ease 0s;
    z-index: 999;
  }
}

.menu__body {
  @media (max-width: 992.98px) {
    position: fixed;
    width: 310px;
    height: 100%;
    top: 0;
    left: -110%;
    overflow: auto;
    padding: 150px 0 20px 0;
    transition: all 0.3s ease 0s;
    z-index: 599;

    &.active {
      background-color: #fff;
      left: 0;
    }
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.cheked-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
